set clipboard+=unnamed
set clipboard+=ideaput

let mapleader = " "
set visualbell
set showmode
set incsearch hlsearch
set ignorecase smartcase
set incsearch
set smartcase
set timeoutlen = 300
set number
set relativenumber
set scrolloff = 10
set guicursor = false
set ideajoin
set idearefactormode=keep

nnoremap <C-z>      :action ToggleDistractionFreeMode<cr>
nnoremap <Space>sv  :source ~/.ideavimrc<cr>

nnoremap <c-\> :action SplitVertically<CR>
nnoremap <c--> :action SplitHorizontally<CR>
nnoremap <c-=> :action Unsplit<CR>
nnoremap <c-m> :action MoveEditorToOppositeTabGroup<CR>
sethandler <c-j> a:vim
sethandler <c-k> a:vim
nnoremap <c-h> <c-w>h
nnoremap <c-l> <c-w>l
nnoremap <c-j> <c-w>j
nnoremap <c-k> <c-w>k

nnoremap <leader>en :action EditSourceInNewWindow<CR>
nnoremap <leader>n :action NextWindow<CR>
nnoremap <leader>qc :action CloseContent<CR>
nnoremap <leader>qa :action CloseAllEditors<CR>

vnoremap < <gv
vnoremap > >gv

nnoremap [[ :action MethodUp<CR>
nnoremap ]] :action MethodDown<CR>

nnoremap <leader>c :action CommentByLineComment<CR>
nnoremap <leader>r :action Refactorings.QuickListPopupAction<CR>
nnoremap <Leader>=  :action ReformatCode<CR>
nnoremap <leader>o :action OptimizeImports<CR>
nnoremap <c-r> :action RecentFiles<CR>

nnoremap <leader>l :action RecentLocations<CR>
nnoremap <leader>h  :action LocalHistory.ShowHistory<CR>
nnoremap ge :action GotoNextError<CR>
nnoremap gE :action GotoPreviousError<CR>

nnoremap <leader>ff :action FindInPath<cr>
nnoremap <leader>fu :action FindUsages<cr>
nnoremap <leader>gd :action GotoDeclaration<cr>
nnoremap <leader>gi :action GotoImplementation<cr>
nnoremap <leader>gc :action GotoClass<cr>
nnoremap <leader>gt :action GotoTypeDeclaration<cr>
nnoremap <leader>gb :action Back<cr>
nnoremap <leader>gf :action Forward<cr>
nnoremap <leader>oi :action OptimizeImports<cr>
nnoremap <leader>qt :action CloseActiveTab<cr>
nnoremap <leader>de :action ShowErrorDescription<cr>


nnoremap <S-h>      :action PreviousTab<cr>
nnoremap <S-l>      :action NextTab<cr>
nnoremap K          :action QuickJavaDoc<cr>
nnoremap D          :action QuickImplementations<cr>

inoremap jk <Esc>

vnoremap jk <Esc>
vnoremap <A-j> :m .+1<cr>==
vnoremap <A-k> :m .-1<cr>==

xnoremap J :move '>+1<cr>gv-gv
xnoremap K :move '<-2<cr>gv-gv
xnoremap <A-j> :move '>+1<cr>gv-gv
xnoremap <A-k> :move '<-2<cr>gv-gv
